.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.buttons__btn {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
}

.buttons__select {
    border: none;
    outline: none;
}

.buttons__btn:hover {
    background: #e9e6e6;
}

.buttons__btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.buttons__dynamic-container {
    display: flex;
    gap: 2px;
    align-items: center;
}