.autocomplete__parent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.autocomplete__container {
    position: relative;
    margin-top: -10rem;
}

.autocomplete__form {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 60px;
    overflow: hidden;
    border: 3px solid rgb(39, 111, 245);
}

.autocomplete__search--input {
    background-color: transparent;
    padding-left: 1.2rem;
    padding-right: .2rem;
    padding-block: .4rem;
    border: none;
    outline: none;
    font-size: small;
    width: 24rem;
}

.autocomplete__closeBtn {
    background-color: transparent;
    color: rgb(95, 95, 95);
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.2rem;
}

.autocomplete__submitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4rem;
    padding-right: .7rem;
    border: none;
    outline: none;
    background: rgb(39, 111, 245);
    color: white;
    cursor: pointer;
    margin-right: -1px;
}

.autocomplete__search--spinner {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid transparent;
    animation: spin .8s linear infinite;
}

.autocomplete__suggestions {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    padding: .3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 90%;
    height: auto;
    max-height: 15rem;
    overflow: auto;

    p {
        color: black;
    }
}

.autocomplete__suggestion {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px;
    border-radius: 3px;
    color: rgb(73, 72, 72);
    cursor: pointer;

    &:hover {
        background-color: rgb(39, 111, 245);
        color: white;

        span {
            color: white;
        }
    }

    span {
        color: black;
        font-size: small;
    }
}

.suggestions-status {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(73, 72, 72);
    font-size: small;
}

.margin-right-md {
    margin-right: 1.45rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}