.timer-parent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 30px;
}

.timer-controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}

.timer-container {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 400px;
}

.timer-button {
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.timer-button-start {
    background: #03b10c;
    color: white;
}

.timer-button-pause {
    background: #caa306;
    color: white;
}

.timer-button-resume {
    background: #03b10c;
    color: white;
}

.timer-button-reset {
    background: #ff0000;
    color: white;
}

.timer-button:disabled {
    opacity: 50%;
}

.timer-label {
    font-size: 18px;
    font-weight: 400;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.timer-output {
    font-size: 30px;
    outline: none;
    border: none;
    width: 100%;
}

.timer-input-parent-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.timer-input-wrapper {
    padding: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}