.toast {
    position: relative;
    padding-block: 8px;
    padding-inline: 10px;
    margin-block: 15px;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 300px;
    overflow: hidden;
}

.toast-msg {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
}

.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: white;
    animation: progress linear forwards;
}

.toast:hover .progress {
    animation-play-state: paused;
}

@keyframes progress {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

.slide {
    animation: slide forwards ease 0.3s;
}

@keyframes slide {
    from {
        transform: translateY(25px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.pop {
    animation: pop forwards ease 0.3s;
}

@keyframes pop {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.success {
    background-color: #40c944;
}

.info {
    background-color: #2196f3;
}

.warning {
    background-color: #ec9615;
}

.error {
    background-color: #e03d32;
}

.closeBtn {
    margin-left: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    border-radius: 100%;
    padding: 4px;
    transition: background-color 0.15s ease;
    flex-shrink: 0;

    &:hover {
        background-color: #6160608f;
    }
}

.icon {
    margin-right: 10px;
    flex-shrink: 0;
}

.top-right {
    position: fixed;
    top: 20px;
    right: 20px;
}

.bottom-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.top-left {
    position: fixed;
    top: 20px;
    left: 20px;
}

.bottom-left {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.top-mid {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-mid {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}