* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 25, 25);
}

html, body {
    height: 100vh;
}

p,
span {
    color: white;
}

.position_modal {
    position: fixed !important;
    top: 20px !important;
    left: 20px !important;
    background-color: aqua !important;
}

#root {
    height: 100%;
}